@using ATTP.Models
@{
    ViewBag.Title = "Đặt hàng thành công";
    var configsite = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
}
<div class="container py-5">
    <div class="row">
        <div class="col">
            <div class="success-message">
                <svg viewBox="0 0 76 76" class="success-message__icon icon-checkmark">
                    <circle cx="38" cy="38" r="36" />
                    <path fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M17.7,40.9l10.9,10.9l28.7-28.7" />
                </svg>
                <h1 class="success-message__title">Đặt hàng thành công</h1>
                <div class="success-message__content">
                    <p> Mã đơn hàng : <strong>@ViewBag.OrderId</strong></p>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center">
            <div class="mb-3 text-center">
                <p>Chúng tôi sẽ liên hệ với bạn nay sau khi nhận được đơn đặt hàng này</p>
                <span>Mọi thắc mắc xin vui lòng liên hệ hotline: 0369109466</span>
            </div>
            <a href="/" class="btn btn-primary">Tiếp tục mua sắm</a>
        </div>
    </div>
</div>
<script>
    function PathLoader(el) {
    this.el = el;
    this.strokeLength = el.getTotalLength();

    // set dash offset to 0
    this.el.style.strokeDasharray =
        this.el.style.strokeDashoffset = this.strokeLength;
}

PathLoader.prototype._draw = function (val) {
    this.el.style.strokeDashoffset = this.strokeLength * (1 - val);
}

PathLoader.prototype.setProgress = function (val, cb) {
    this._draw(val);
    if (cb && typeof cb === 'function') cb();
}

PathLoader.prototype.setProgressFn = function (fn) {
    if (typeof fn === 'function') fn(this);
}

var body = document.body,
    svg = document.querySelector('svg path');

if (svg !== null) {
    svg = new PathLoader(svg);

    setTimeout(function () {
        document.body.classList.add('active');
        svg.setProgress(1);
    }, 200);
}
</script>